.bg-page {
    background: rgb(246, 246, 246);
}

.bg-1 {
    background: rgb(0, 101, 175);
}

.logo {
    height: 2rem;
    width: 2rem;
}

.step {
    height: 1.5rem;
    width: 1.5rem;
}

.date {
    height: 2.2rem;
    padding: 0;
    text-align: center;
}

.calen {
    height: 1.2rem;
    width: 1.2rem;
}

.input {
    width: 12rem;
    height: 2.3rem;
}

.conform {
    width: 30rem;
}